<template>
    <div class="container text-center">
        <h1>Publica tu aviso en sólo 3 pasos</h1>
        <p>Rápido y sencillo, paga tus avisos por internet desde donde estés y publica en cualquiera de nuestros medios impresos</p>
    </div>
</template>
<script>
    export default {
    }
</script>
